/* WhatsAppIcon.css */
#whatsapp-icon {
    position: fixed;
    bottom: 20px; /* Adjust the distance from the bottom as needed */
    left: 20px; /* Adjust the distance from the left as needed */
    z-index: 1000; /* Ensure it appears above other elements */
    cursor: pointer;
 }
 
 #whatsapp-icon img {
    width: 50px; /* Adjust the width of the icon as needed */
 }
 