.HomeScreen{
    width: 100%;
    height: 100%;
}

.Header{
    width: 100%;
    height: 70px;
    background-color: #1E1D61;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    margin-top: 0%;
    padding-top: 0%;
    top: 0;
    left: 0;
    z-index: 3;
}
.HeaderLogo img{
    height: 70px;
}
.SearchInput{
  width: 400px;
  height: 10px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  font-family: Lexend;
  padding: 15px;
}
.HeaderButton{
    width: 148px;
    height: 33px;
    border-radius: 10px;
    background: rgba(244, 232, 232, 0.25);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    border: none;
    color: #D9D9D9;
    text-align: center;
    font-family: Lexend;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
}
.dropdown-menu {
  position: relative;
  right: 0;
}

.menu-icon {
  cursor: pointer;
  size: 10px;
  color: #f0f0f0;
  font-size: 30px;
  display: none;
}
.mlistcontainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.mlistcontainer li{
  padding: 10px;
  list-style: none;
  text-decoration: none;
  color: white;
  font-family: Lexend;
  cursor: pointer;
}

.menu-list {
  list-style-type: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  z-index: 1;
  font-family: Lexend;
  font-weight: 500;
}
.menu-list a{
  text-decoration: none;
}

.menu-list li {
  padding: 10px;
  cursor: pointer;
  padding: 15px;
}

.menu-list li:hover {
  background-color: #f1f1f1;
}

.HeaderButton:hover{
    background-color: #D9D9D9;
    color: #1E1D61;
}

.HomeScreenIntro{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 450px;
    margin-top: 20px;
    justify-content: space-between;
    padding-top: 100px;
    
}
.HomeScreenMenu{
    width: 20%;
    height: 100%;
    flex-shrink: 0;
    background: #D9D9D9;
    margin: 10px;
    border-radius: 10px;
    margin-left: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.HSMenuTitle{
    text-align: center;
    color:#FE0000;
    font-size: 40px;
    font-weight:600;
    font-family: Lexend;
}

hr{
    border-color: #1E1D61;
    border-width: 1px;
    margin-top: 0px;
    padding: 0;
}
.MenuListContainer{
    text-decoration: none;
    list-style-type: none;
}
.MenuList{
    text-align: left;
    padding: 10px;
    font-size: 15px;
    color: black;
    font-weight: 400;
    font-family:Lexend;
    border-bottom: 1px solid #462626;
    cursor: pointer;
}
.MenuListContainer li:hover {
    background-color: #f0f0f0; /* Change the background color on hover */
  }
  .MenuListContainer a{
    text-decoration: none;
  }
  .HomeScreenBanner {
    position: relative;
    width: 60%;
    height: 450px; /* Use 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .slider-image {
    width: 100%; /* Make the images take the full width of their container */
    height: 450px; /* Make the images take the full height of their container */
    object-fit: cover; /* Preserve aspect ratio while covering the entire container */
  }
  
  .slider-container {
    position: relative;
    width: 100%; /* Make sure the slider container takes the full width of the parent */
  }
  
  .BannerButton {
    position: absolute;
    z-index: 2;
    background-color: rgb(167, 17, 17);
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    font-family: Lexend;
    margin-top: 20px;
  }
  
  .BannerButton:hover {
    background-color: #ff6600;
    transform: scale(1.05);
  }
  
  
  
  .HomeScreenAds{
    width: 20%;
    height: 100%;
    margin: 10px;
  }
  .Seminars{
    height: 100%;
    background: #D9D9D9;
    border-radius: 10px;
    margin: 5px;
    width: 20%;
  }
  .Adverts{
    height: 90%;
    background: #D9D9D9;
    border-radius: 10px;
    margin-top: 10px;
  }
  .SeminarTitle{
    text-align: center;
    text-align: center;
    color:#FE0000;
    font-size: 20px;
    font-weight:400;
    font-family: Lexend;
  }
  .SeminarsContainer{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #462626;
  }
  .SeminarsContainer img{
    width: 100%;
    margin-top: 40px;
  }
  .SeminarImage{
    width: 30%;
    height: 60px;
    background-color: #f0f0f0;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
  }
  .SeminarData{
    text-align: center;
  }
  h5, h7 {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  h8{
    text-align: justify;
  }

  .WhatWeOffer{
    width: 100%;
    height: fit-content;
    margin-top: 30px;
    justify-content: space-around;
    align-self: center;
    text-align: center;
    align-items: center;
    background-color: #0073e6;
  }
  .WWOH1{
    text-align: center;
    color:white;
    font-family: Lexend;
  }
  .WWODetails{
    width: 90%;
    height: fit-content;
    padding: 10px;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
  }

  .WWORows{
    width: 50%;
    margin: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
  }
  .WWOColumns{
    width: 95%;
    height: fit-content;
    margin: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
  }

  .WWOImages{
    width: 60px;
    height: 60px;
    margin: 5px;
  }
  .WWOParagraphs{
    font-family: Lexend;
    font-size: 10px;
    font-weight: 400;
    color: white;
  }
  .WWOColumns h3 {
    text-align: left;
    color: white;
    font-family: Lexend;
    margin: 0px;
    padding: 0px;
  }
  .WWOWords{
    margin: 5px;
  }
  .partners{
    height: auto;
  }
  .partners h1{
    color:#0073e6 ;
    font-family: Lexend;
    text-align: center;
  }
.partnersLogosContainer{
    width: 90%;
    height: fit-content;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.partnersLogo{
    width: 150px;
    height: 150px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.partnersLogo img{
    width: 100px;
    height: 100px;
}
.partnersLogo h5{
    font-family: Lexend;
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.BestSelling h1{
    text-align: center;
    color: #0073e6;
    font-family: Lexend;
}
.bestSellingProducts{
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.bestSellingCard{
    width: 200px;
    height: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 20px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.bestSellingCard img {
    width: 200px;
    height: 150px;
}

.bestSellingCard h8{
    color: #1E1D61;
    font-size: 15px;
    font-family: Lexend;
    font-weight: 700;
    margin: 10px;
}

.bestSellingCard button{
    border: none;
    width: 150px;
    height: 30px;
    align-items: center;
    text-align: center;
    margin: 10px;
    align-self: center;
    justify-content: center;
    border-radius: 10px;
    color: #f0f0f0;
    font-size: 15px;
    font-family: Lexend;
    background-color: #1E1D61;
    cursor: pointer;
}

.bestSellingCard button:hover{
    background-color:#0073e6; /* Change button background color on hover */
    transform: scale(1.05);
    color: black;
    font-weight: 800;
}

.Footer{
    background-color: #1E1D61;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ContactUs {
  width: 30%;
  margin: 5px;
}
.ContactUs h1{
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  font-size: 20;
  top: 0;
  margin: 0;
  color:#FE0000;
}
.ContactUs hr{
  color: #f0f0f0;
  background-color: #f0f0f0;
}
.icons-Details{
  display: flex;
  flex-direction: row;
  
  width: 100%;
  margin-bottom: 10px;

}
.icons-Details img{
  width: 28px;
  height: 28px;
  margin: 5px;
}
.tellink{
  text-decoration: none;
  color: white;
}
.icons-Details h5{
  padding: 10px;
  font-family: Lexend;
  color: #f0f0f0;
  text-decoration: none;
  text-decoration-color: #ccc;
  list-style: none;
}
.socialIcons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.socialIcons img{
  width: 28px;
  height: 28px;
  margin: 5px;
  cursor: pointer;
}
.Location{
  width: 30%;
  margin: 5px;
  height: fit-content;
}
.Location h1{
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  font-size: 20;
  top: 0;
  margin: 0;
  color:#FE0000;
}
.location-Details{
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;

}
.location-Details img {
  height: 30px;
}
.location-Details h5{
  color: #f0f0f0;
}
.locationTime{
  width: 70%;
  height: fit-content;
  padding: 0%;
  margin: 0%;

}
.locationTime h4{
  padding: 0;
  margin: 0;
  text-align: center;
  color: #FE0000;
  
}
.locationTime h5{
  padding-top: 0%;
  margin-top: 0%;
  font-weight: 400;
  font-family: Lexend;
}
.QuickLinks{
  width: 30%;
  margin: 5px;
}
.QuickLinks h1{
  text-align: center;
  font-family: Lexend;
  font-weight: 500;
  font-size: 20;
  top: 0;
  margin: 0;
  color:#FE0000;
}
.QuickLinks h4{
  text-align: center;
  margin-top: 0%;
  margin-bottom: 10px;
  font-family: Lexend;
  color: #f0f0f0;
  cursor: pointer;
}
.QuickLinks h4:hover{
  color: #FE0000;
}

@media only screen  and (max-width: 768px) {
 
  
   .Header{
    height: 80px;
    align-items: center;
   }
    .HeaderLogo img{
      height: 60px;
    }
    .SearchInput {
      padding: 5px;
      height: 5px;
      display: none;
    }
    .mlistcontainer{
      display: none;
    }
    .menu-icon {
      cursor: pointer;
      size: 10px;
      color: #f0f0f0;
      font-size: 30px;
      display: block;
    }
    .Seminars{
      display: none;
    }
    .HomeScreenIntro{
      padding-top: 0px;
      height: fit-content;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 0px;
      margin: 0px;
      flex-direction: column;
      width: 100%;


    }
    .HomeScreenMenu{
      display: none;
    }
    .HomeScreenBanner{
      align-items: center;
      text-align: center;
      justify-content: center;
      width: 100%;
      height: 250px;

    }
    .HomeScreenAds{
      display: none;
    }
    .slider-container{
      height: 250px;
      width: 100%;
    }
    .slider-image{
      height: 250px;
      width: 100%;
    }
    .WhatWeOffer{
      width: 100%;
      padding: 0px;
      margin: 0px;
    }
    .WWOH1{
      text-align: center;
      color: white;
      font-family: Lexend;
    }
    .WWODetails{
      height: fit-content;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
    }
  
    .WWORows{
      width: 90%;
      margin: 5px;
      display: flex;
      flex-direction: column;
    }
    .WWOColumns{
      width: 95%;
      height: fit-content;
      margin: 0px;
      display: flex;
      flex-direction: row;
    }
  
    .WWOImages{
      width: 100px;
      height: 100px;
      margin: 5px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .WWOParagraphs{
      font-family: Lexend;
      font-size: 13px;
      font-weight: 400;
      color: white;
    }
    .WWOColumns h3 {
      text-align: center;
      color: white;
      font-family: Lexend;
      margin: 0px;
      padding: 0px;
    }
    
    .bestSellingProducts{
      align-items: center;
      text-align: center;
      justify-content: space-around;
    }
    .bestSellingCard{
      width: 100%;
      height: 500px;
      align-items: center;
      text-align: center;
      justify-content: center;
    }
    .bestSellingCard img {
      width: 300px;
      height: 300px;
  }
  
  .bestSellingCard h8{
      color: #1E1D61;
      font-size: 15px;
      font-family: Lexend;
      font-weight: 700;
      margin: 10px;
  }
  
  .bestSellingCard button{
      border: none;
      width: 90%;
      padding: 10px;
      height: 30px;
      align-items: center;
      text-align: center;
      margin: 10px;
      align-self: center;
      justify-content: center;
      border-radius: 10px;
      color: #f0f0f0;
      font-size: 15px;
      font-family: Lexend;
      background-color: #1E1D61;
      cursor: pointer;
  }
.partners{
  text-align: center;
  align-items: center;
  justify-content: center;
}

.partnersLogosContainer{
  text-align: center;
  align-items: center;
  justify-content: center;
}
.Footer{
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.ContactUs{
  width: 95%;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.Location{
  width: 95%;
}
.QuickLinks{
  width: 95%;
}
}